In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.metrics import r2_score
from sklearn import preprocessing
from sklearn import metrics

In [2]:
df_all=pd.read_csv("USA_Housing.csv", delimiter=",")

In [3]:
df=df_all[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Avg. Area Number of Bedrooms', 'Area Population']]
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [4]:
df.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
dtype: int64

In [5]:
# df['Avg. Area Income']= (df['Avg. Area Income'] - df['Avg. Area Income'].min())/(df['Avg. Area Income'].max() - df['Avg. Area Income'].min())  ## Min Max Resizing
# df['Avg. Area House Age']= (df['Avg. Area House Age'] - df['Avg. Area House Age'].min())/(df['Avg. Area House Age'].max() - df['Avg. Area House Age'].min())  ## Min Max Resizing
# df['Avg. Area Number of Rooms']= (df['Avg. Area Number of Rooms'] - df['Avg. Area Number of Rooms'].min())/(df['Avg. Area Number of Rooms'].max() - df['Avg. Area Number of Rooms'].min())  ## Min Max Resizing
# df['Avg. Area Number of Bedrooms']= (df['Avg. Area Number of Bedrooms'] - df['Avg. Area Number of Bedrooms'].min())/(df['Avg. Area Number of Bedrooms'].max() - df['Avg. Area Number of Bedrooms'].min())  ## Min Max Resizing
# df['Area Population']= (df['Area Population'] - df['Area Population'].min())/(df['Area Population'].max() - df['Area Population'].min())  ## Min Max Resizing

scaler=StandardScaler()

df_scaled=scaler.fit_transform(df_all)

dfs_all=pd.DataFrame(df_scaled)
dfs_all.columns=df_all.columns

dfs=dfs_all.drop(['Price'], axis=1)

In [6]:
xtrain,xtest,ytrain,ytest=train_test_split(dfs, dfs_all['Price'], test_size=0.3)

clf=LinearRegression()
clf.fit(xtrain,ytrain)

cross_val_score(clf, df, df_all['Price'], cv=KFold(shuffle=True))

ypred=clf.predict(xtest)

m=clf.coef_
cvs=cross_val_score(clf, xtest, ytest)

index = np.where(cvs == cvs.max())
m_required=m[index]


c=clf.intercept_
score=r2_score(ypred, ytest)

print(m)
print(cvs)
print(cvs.max())
print(m_required)
print(c)

[0.64973699 0.46257395 0.34309251 0.01203355 0.42860182]
[0.90672601 0.92971391 0.93559112 0.91354733 0.92415472]
0.9355911166844064
[0.34309251]
-9.525679111713203e-05

In [7]:
df= pd.read_csv('/Users/Aaryan/Downloads/imports-85.data', delimiter=',')
df.columns= ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
                 "num_doors", "body_style", "drive_wheels", "engine_location", "wheel_base",
                 "length", "width", "height", "curb_weight", "engine_type", "num_cylinders",
                 "engine_size", "fuel_system", "bore", "stroke", "compression_ratio", "horsepower",
                 "peak_rpm", "city_mpg", "highway_mpg", "price"]

In [8]:
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [9]:
filter=df =="?"

df.where(filter).count()

symboling             0
normalized_losses    40
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [10]:
###For normalized_losses
play=df[df['normalized_losses']!='?']
normalized_losses_median=play['normalized_losses'].median()
df['normalized_losses'].replace(to_replace="?",value= normalized_losses_median, inplace=True )

###For num_doors
play=df[df['make'].isin(["dodge"])]
play=play[play['aspiration']=='turbo']
aspiration_turbo_mode=play['num_doors'].mode()
df['num_doors'].replace(to_replace="?",value= "two", inplace=True )

###For bore
play=df[df['make']=='mazda']
play=play[play['fuel_type']=='gas']

play=play[play['bore']!='?']
play['bore']=play['bore'].astype(float)
bore_mean=play['bore'].mean()
df['bore'].replace(to_replace="?",value= bore_mean, inplace=True )

###For stroke
play=play[play['stroke']!='?']
play['stroke']=play['stroke'].astype(float)
bore_mean=play['stroke'].mean()
df['stroke'].replace(to_replace="?",value= bore_mean, inplace=True )


###For horsepower
df[df['horsepower'].isin(['?'])]

play=df[df['fuel_type'].isin(['gas'])]
play=play[play['aspiration'].isin(['std'])]
play=play[play['drive_wheels'].isin(['fwd'])]
play=play[play['fuel_system'].isin(['mpfi'])]

play=play[play['horsepower']!='?']
horsepower_mean=play['horsepower'].mean()
df['horsepower'].replace(to_replace="?",value= horsepower_mean, inplace=True )

###For peak_rpm
play=play[play['peak_rpm']!='?']
rpm_mean=play['peak_rpm'].mean()
df['peak_rpm'].replace(to_replace="?",value= rpm_mean, inplace=True )

###For Price
play=df[df['price']!='?']
play['price']=play['price'].astype(float)
price_mean=play['price'].mean()
df['price'].replace(to_replace="?",value= price_mean, inplace=True )

/var/folders/5b/904sqp954c5czbxnkrs96tm80000gn/T/ipykernel_14647/3902704128.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  play['price']=play['price'].astype(float)

In [11]:
df['num_doors'].replace(to_replace="two",value= 2, inplace=True )
df['num_doors'].replace(to_replace="four",value= 4, inplace=True )

df['num_cylinders'].replace(to_replace="four",value= 4, inplace=True )
df['num_cylinders'].replace(to_replace="six",value= 6, inplace=True )
df['num_cylinders'].replace(to_replace="five",value= 5, inplace=True )
df['num_cylinders'].replace(to_replace="three",value= 3, inplace=True )
df['num_cylinders'].replace(to_replace="twelve",value= 12, inplace=True )
df['num_cylinders'].replace(to_replace="two",value= 2, inplace=True )
df['num_cylinders'].replace(to_replace="eight",value= 8, inplace=True )

df=pd.get_dummies(df, columns=["body_style","drive_wheels"])

label_encoder = preprocessing.LabelEncoder()
df['make']= label_encoder.fit_transform(df['make'])
df['aspiration']= label_encoder.fit_transform(df['aspiration'])
df['engine_location']= label_encoder.fit_transform(df['engine_location'])
df['fuel_type']= label_encoder.fit_transform(df['fuel_type'])


df['fuel_system'].replace(to_replace=['mpfi','spfi'],value= 1, inplace=True )
df['fuel_system'].replace(to_replace=['2bbl', 'mfi', '1bbl', '4bbl', 'idi', 'spdi'],value= 0, inplace=True )

df['engine_type'].replace(to_replace=['dohc', 'ohcv', 'ohc', 'ohcf', 'dohcv'],value= 1, inplace=True )
df['engine_type'].replace(to_replace=['l', 'rotor'],value= 0, inplace=True )

In [16]:
scaler=MinMaxScaler()

df_scaled=scaler.fit_transform(df)

dfs=pd.DataFrame(df_scaled)
dfs.columns=df.columns


dfx=dfs.drop("price", axis=1)
dfy=pd.DataFrame(dfs['price'])

In [113]:
xtrain,xtest,ytrain,ytest=train_test_split(dfx,dfy, test_size=0.3)

alg=LinearRegression()

alg.fit(xtrain, ytrain)

predict=alg.predict(xtest)

print('mean_squared_error \n',metrics.mean_squared_error(predict,ytest))
print('\nmean_absolute_error \n',metrics.mean_absolute_error(predict,ytest))
print('\nmean_squared_error\n', np.sqrt(metrics.mean_squared_error(predict,ytest)))
print('\nr2_score\n', metrics.r2_score(ytest, predict))

mean_squared_error
 0.0066039516742988765

mean_absolute_error
 0.05883124663730529

mean_squared_error
 0.0812647012810536

r2_score
 0.82594281702757